# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies app
mongo_data/
node_modules/
requests/
.dockerignore
package.json
package-lock.json
nginx.conf

#terraform
terraform.tfstate.backup
terraform.tfstate
id_rsa
id_rsa.pub 

